html, body{margin-left: 5%; margin-right: 5%; height: 100%; overflow: hidden; background-color: #43475a;}

header h1{
    text-align: center;
    margin: 0px;
    font-size: 50px;
}

.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}



.column.middle{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.column.top, .column.bottom{
    width: 25%;
    margin: 5%;
}


.row.middle{
    height: 5%;
}

.row img{
    border: none;
    text-align: center;
    border-radius: 10%;
    filter: grayscale(90%);
}

.row img:hover{
    filter: grayscale(0%);
}


.bigSquare, .smallSquareGroup{
    transform: rotate(45deg);
}

.bigSquare{
    height: 300px;
    width: 300px;
    margin: 10px;
    background-color: gray;
}

.smallSquare{
    height: 145px;
    width: 145px;
    margin: 5px;
    background-color: gray;
}

/* @media screen and(max-width: 1000px){
    img{
        width: 150px;
    }
} */