html, body {margin: 0; height: 100%; overflow: hidden; background-color: #43475a;}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.column{
    width: 33.3333vw;
    text-align: left;
}

.column img{
    vertical-align: middle;
    border: none;
    border-radius: 10%;
    filter: grayscale();
}

.column img:hover{
    filter: grayscale(0%);
}


.image-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bigSquare{
    height: 300px;
    width: 300px;
    margin: 10px;
    background-color: #202020;
}

.smallSquare{
    height: 145px;
    width: 145px;
    margin: 5px;
}

/* @media screen and(max-width: 1000px){
    img{
        width: 150px;
    }
} */